In [18]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
#Import package matplotlib for visualisation/plotting
# import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import export_graphviz
# import xgboost as xgb
# from xgboost import XGBRegressor
import time
# import lightgbm as lgb

In [19]:
df = pd.read_csv('train_data_1.csv')

In [20]:
df.head(5)

,taxi_zone,datetime,passenger_count,year_month,week,hour,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day

In [21]:
df.dtypes

taxi_zone                            int64
datetime                            object
passenger_count                    float64
year_month                          object
week                                 int64
hour                                 int64
entertainment_and_recreation       float64
financial_services                 float64
food_and_beverage                  float64
parking_and_automotive_services    float64
professional_services              float64
real_estate                        float64
retail_services                    float64
transportation                     float64
hospital                           float64
hotspots                           float64
school                             float64
total_business                     float64
holiday                             object
dtype: object

In [28]:
df['datetime'].unique()

array(['2022-01-01 00:00:00', '2022-01-01 01:00:00',
       '2022-01-01 02:00:00', ..., '2023-04-30 21:00:00',
       '2023-04-30 22:00:00', '2023-04-30 23:00:00'], dtype=object)

In [7]:
print(len("Juneteenth National Independence Day (Observed)"))

47

In [22]:
df['impression_history']=df['passenger_count']

In [36]:
df_draft = df[df['datetime']=='2023-04-30 22:00:00'].reset_index()

In [37]:
df_draft.to_json("draft_impression_2023-04-30-22.json",orient="records",default_handler=str)

In [38]:
import json
with open('draft_impression_2023-04-30-22.json', 'r') as fd:    
    data = json.load(fd)

In [39]:
print(type(data))

<class 'list'>

In [40]:
print(data[0])

{'index': 11638, 'taxi_zone': 1, 'datetime': '2023-04-30 22:00:00', 'passenger_count': 1.0, 'year_month': '2023-04', 'week': 6, 'hour': 22, 'entertainment_and_recreation': 0.0, 'financial_services': 0.0, 'food_and_beverage': 0.0, 'parking_and_automotive_services': 0.0, 'professional_services': 0.0, 'real_estate': 0.0, 'retail_services': 0.0, 'transportation': 0.0, 'hospital': 0.0, 'hotspots': 0.0, 'school': 0.0, 'total_business': 0.0, 'holiday': 'No', 'impression_history': 1.0}

In [34]:
for row in data:
    print(row['taxi_zone'])
    break

1

In [35]:
print(len(data))

263