In [3]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
#Import package matplotlib for visualisation/plotting
# import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.tree import export_graphviz
# import xgboost as xgb
# from xgboost import XGBRegressor
import time
# import lightgbm as lgb

In [4]:
df = pd.read_csv('train_data_1.csv')

In [5]:
df.head(5)

,taxi_zone,datetime,passenger_count,year_month,week,hour,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,2022-01-01 00:00:00,0.0,2022-01,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
1,1,2022-01-01 01:00:00,0.0,2022-01,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
2,1,2022-01-01 02:00:00,2.0,2022-01,5,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
3,1,2022-01-01 03:00:00,1.0,2022-01,5,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
4,1,2022-01-01 04:00:00,8.0,2022-01,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day

In [11]:
df.dtypes

taxi_zone                            int64
datetime                            object
passenger_count                    float64
year_month                          object
week                                 int64
hour                                 int64
entertainment_and_recreation       float64
financial_services                 float64
food_and_beverage                  float64
parking_and_automotive_services    float64
professional_services              float64
real_estate                        float64
retail_services                    float64
transportation                     float64
hospital                           float64
hotspots                           float64
school                             float64
total_business                     float64
holiday                             object
dtype: object

In [12]:
df['holiday'].unique()

array(["New Year's Day", 'No', 'Martin Luther King Jr. Day',
       "Washington's Birthday", 'Memorial Day',
       'Juneteenth National Independence Day',
       'Juneteenth National Independence Day (Observed)',
       'Independence Day', 'Labor Day', 'Columbus Day', 'Veterans Day',
       'Thanksgiving', 'Christmas Day', 'Christmas Day (Observed)',
       "New Year's Day (Observed)"], dtype=object)

In [15]:
print(len("Juneteenth National Independence Day (Observed)"))

47

In [7]:
df.drop('datetime', axis=1)

,taxi_zone,passenger_count,year_month,week,hour,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
0,1,0.0,2022-01,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
1,1,0.0,2022-01,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
2,1,2.0,2022-01,5,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
3,1,1.0,2022-01,5,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
4,1,8.0,2022-01,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,New Year's Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3061315,265,41.0,2023-04,6,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061316,265,53.0,2023-04,6,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061317,265,45.0,2023-04,6,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061318,265,62.0,2023-04,6,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061319,265,95.0,2023-04,6,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No

In [10]:
df[df['year_month']=='2023-04']

,taxi_zone,datetime,passenger_count,year_month,week,hour,entertainment_and_recreation,financial_services,food_and_beverage,parking_and_automotive_services,professional_services,real_estate,retail_services,transportation,hospital,hotspots,school,total_business,holiday
10920,1,2023-04-01 00:00:00,0.0,2023-04,5,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
10921,1,2023-04-01 01:00:00,0.0,2023-04,5,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
10922,1,2023-04-01 02:00:00,1.0,2023-04,5,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
10923,1,2023-04-01 03:00:00,9.0,2023-04,5,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
10924,1,2023-04-01 04:00:00,24.0,2023-04,5,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3061315,265,2023-04-30 19:00:00,41.0,2023-04,6,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061316,265,2023-04-30 20:00:00,53.0,2023-04,6,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061317,265,2023-04-30 21:00:00,45.0,2023-04,6,21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061318,265,2023-04-30 22:00:00,62.0,2023-04,6,22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No
3061319,265,2023-04-30 23:00:00,95.0,2023-04,6,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,No