In [1]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
#Import package matplotlib for visualisation/plotting
# import matplotlib.pyplot as plt

# open all the yellow and green taxi file and save them into dataframe

In [2]:
raw = pd.DataFrame()
combine_raw = pd.DataFrame()
for year in range(2022, 2024):
    for month in range(1, 13):
        if (year == 2023 and month in range (5,13)):
            pass
        else:
            # Make sure the month is two digits        
            month = str(month).zfill(2)
            yellow_file_name = f'yellow_tripdata_{year}-{month}.parquet'
            print(yellow_file_name)

            try:
                raw_yellow_partition = pq.read_table(yellow_file_name)
                raw_yellow_partition = raw_yellow_partition.to_pandas()
    #             [['tpep_pickup_datetime','tpep_dropoff_datetime',
    #                                                     'passenger_count','PULocationID','DOLocationID']]
            except Exception as e:
                    print(f"Could not read file: {yellow_file_name}. Error: {e}")

            green_file_name = f'green_tripdata_{year}-{month}.parquet'
            print(green_file_name)

            try:
                raw_green_partition = pq.read_table(green_file_name)
                raw_green_partition = raw_green_partition.to_pandas()
    #             [['lpep_pickup_datetime','lpep_dropoff_datetime',
    #                                                     'passenger_count','PULocationID','DOLocationID']]

                raw_green_partition.columns = raw_green_partition.columns.str.replace('lpep_pickup_datetime', 'tpep_pickup_datetime')
                raw_green_partition.columns = raw_green_partition.columns.str.replace('lpep_dropoff_datetime', 'tpep_dropoff_datetime')
            except Exception as e:
                    print(f"Could not read file: {green_file_name}. Error: {e}")

            raw = pd.concat([raw,raw_yellow_partition, raw_green_partition],axis=0)
raw.shape

yellow_tripdata_2022-01.parquet
green_tripdata_2022-01.parquet
yellow_tripdata_2022-02.parquet
green_tripdata_2022-02.parquet
yellow_tripdata_2022-03.parquet
green_tripdata_2022-03.parquet
yellow_tripdata_2022-04.parquet
green_tripdata_2022-04.parquet
yellow_tripdata_2022-05.parquet
green_tripdata_2022-05.parquet
yellow_tripdata_2022-06.parquet
green_tripdata_2022-06.parquet
yellow_tripdata_2022-07.parquet
green_tripdata_2022-07.parquet
yellow_tripdata_2022-08.parquet
green_tripdata_2022-08.parquet
yellow_tripdata_2022-09.parquet
green_tripdata_2022-09.parquet
yellow_tripdata_2022-10.parquet
green_tripdata_2022-10.parquet
yellow_tripdata_2022-11.parquet
green_tripdata_2022-11.parquet
yellow_tripdata_2022-12.parquet
green_tripdata_2022-12.parquet
yellow_tripdata_2023-01.parquet
green_tripdata_2023-01.parquet
yellow_tripdata_2023-02.parquet
green_tripdata_2023-02.parquet
yellow_tripdata_2023-03.parquet
green_tripdata_2023-03.parquet
yellow_tripdata_2023-04.parquet
green_tripdata_2023-04.parquet

(53439693, 22)

# clean duplicated rows

In [3]:
# duplicated rows
duplicated = raw[raw.duplicated(keep=False)]
# Show duplicate row data that can be dropped
duplicated

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,ehail_fee,trip_type,Airport_fee
3022804,2,2022-10-27 15:22:53,2022-10-27 15:23:01,1.0,0.0,1.0,N,193,193,2.0,...,0.5,0.0,0.0,0.3,3.3,0.0,0.0,NaN,NaN,NaN
3022805,2,2022-10-27 15:22:53,2022-10-27 15:23:01,1.0,0.0,1.0,N,193,193,2.0,...,0.5,0.0,0.0,0.3,3.3,0.0,0.0,NaN,NaN,NaN

In [4]:
print('Number of duplicate rows (including first) in the table is:')
duplicated.shape[0]

Number of duplicate rows (including first) in the table is:

2

No drop of duplication: High chances these 2 are different rides

# combine the pickup and dropoff data together

In [5]:
raw_pickup = raw[['tpep_pickup_datetime',
                                            'passenger_count','PULocationID']]
raw_pickup = raw_pickup.set_axis(['datetime', 'passenger_count', 'taxi_zone'], axis='columns')

raw_dropoff = raw[['tpep_dropoff_datetime',
                                            'passenger_count','DOLocationID']]
raw_dropoff = raw_dropoff.set_axis(['datetime', 'passenger_count', 'taxi_zone'], axis='columns')


combine_raw = pd.concat([raw_pickup,raw_dropoff],axis=0)
combine_raw

                 datetime  passenger_count  taxi_zone
0     2022-01-01 00:35:40              2.0        142
1     2022-01-01 00:33:43              1.0        236
2     2022-01-01 00:53:21              1.0        166
3     2022-01-01 00:25:21              1.0        114
4     2022-01-01 00:36:48              1.0         68
...                   ...              ...        ...
65387 2023-04-30 22:12:00              NaN        168
65388 2023-04-30 23:43:00              NaN        170
65389 2023-04-30 23:40:00              NaN        112
65390 2023-04-30 23:57:00              NaN        236
65391 2023-04-30 23:44:00              NaN         74

[106879386 rows x 3 columns]

In [6]:
 # check null value
combine_raw.isnull().sum()

datetime                 0
passenger_count    3607352
taxi_zone                0
dtype: int64

# replace the null value of passenger_count with median

In [7]:
# replace missing value with reasonable estimate -- median.
median_case_passenger_count = combine_raw['passenger_count'].median()
median_case_passenger_count
combine_raw['passenger_count'] = combine_raw['passenger_count'].replace(np.nan, median_case_passenger_count)

In [8]:
# check the missing value, make sure there is no missing value.
missing_case_passenger_count = combine_raw[combine_raw['passenger_count'].isnull()]
missing_case_passenger_count

Empty DataFrame
Columns: [datetime, passenger_count, taxi_zone]
Index: []

# replace the "0" value of passenger_count with median

In [9]:
# check the rows of 0 value.
zero_value_case_passenger_count = combine_raw[combine_raw['passenger_count'] == 0]
zero_value_case_passenger_count

                 datetime  passenger_count  taxi_zone
143   2022-01-01 00:17:34              0.0        236
144   2022-01-01 00:23:57              0.0        263
145   2022-01-01 00:31:53              0.0        140
146   2022-01-01 00:41:40              0.0        163
157   2022-01-01 00:55:36              0.0        162
...                   ...              ...        ...
60482 2023-04-30 17:20:44              0.0         65
60514 2023-04-30 18:46:26              0.0        238
60540 2023-04-30 18:49:55              0.0         97
60595 2023-04-30 18:21:29              0.0         52
60596 2023-04-30 18:26:49              0.0         25

[1964792 rows x 3 columns]

In [10]:
combine_raw['passenger_count'] = combine_raw['passenger_count'].replace(0, median_case_passenger_count)

In [11]:
# check the rows of 0 value has been dropped.
zero_value_case_passenger_count = combine_raw[combine_raw['passenger_count'] == 0]
zero_value_case_passenger_count

Empty DataFrame
Columns: [datetime, passenger_count, taxi_zone]
Index: []

In [12]:
combine_raw.dtypes

datetime           datetime64[ns]
passenger_count           float64
taxi_zone                   int64
dtype: object

In [13]:
combine_raw

                 datetime  passenger_count  taxi_zone
0     2022-01-01 00:35:40              2.0        142
1     2022-01-01 00:33:43              1.0        236
2     2022-01-01 00:53:21              1.0        166
3     2022-01-01 00:25:21              1.0        114
4     2022-01-01 00:36:48              1.0         68
...                   ...              ...        ...
65387 2023-04-30 22:12:00              1.0        168
65388 2023-04-30 23:43:00              1.0        170
65389 2023-04-30 23:40:00              1.0        112
65390 2023-04-30 23:57:00              1.0        236
65391 2023-04-30 23:44:00              1.0         74

[106879386 rows x 3 columns]

# group the passenger number together by the hour

In [14]:
# change the time into hour, ignore the minutes and seconds
combine_raw['datetime'] = combine_raw['datetime'].dt.floor('H')

In [15]:
df_grouped = combine_raw.groupby(['taxi_zone', 'datetime'])['passenger_count'].sum().reset_index()

In [16]:
df_grouped

         taxi_zone            datetime  passenger_count
0                1 2002-10-25 09:00:00              4.0
1                1 2002-10-27 09:00:00              3.0
2                1 2002-10-28 04:00:00              1.0
3                1 2002-10-28 05:00:00              2.0
4                1 2009-01-02 00:00:00              2.0
...            ...                 ...              ...
2032351        265 2023-04-30 20:00:00             53.0
2032352        265 2023-04-30 21:00:00             49.0
2032353        265 2023-04-30 22:00:00             68.0
2032354        265 2023-04-30 23:00:00             95.0
2032355        265 2023-05-01 00:00:00             28.0

[2032356 rows x 3 columns]

In [17]:
# Extract year and month
df_grouped['year_month'] = df_grouped['datetime'].dt.to_period('M')

# Extract day of week (Monday=0, Sunday=6)
# df_grouped['day'] = df_grouped['datetime'].dt.day

# Extract day of week (Monday=0, Sunday=6)
df_grouped['week'] = df_grouped['datetime'].dt.dayofweek

# Extract hour of the day
df_grouped['hour'] = df_grouped['datetime'].dt.hour

# days = {0:'Monday',1:'Tuesday',2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday',6:'Sunday'}
# combine_raw['week'] = combine_raw['week'].apply(lambda x: days[x])

df_grouped

         taxi_zone            datetime  passenger_count year_month  week  hour
0                1 2002-10-25 09:00:00              4.0    2002-10     4     9
1                1 2002-10-27 09:00:00              3.0    2002-10     6     9
2                1 2002-10-28 04:00:00              1.0    2002-10     0     4
3                1 2002-10-28 05:00:00              2.0    2002-10     0     5
4                1 2009-01-02 00:00:00              2.0    2009-01     4     0
...            ...                 ...              ...        ...   ...   ...
2032351        265 2023-04-30 20:00:00             53.0    2023-04     6    20
2032352        265 2023-04-30 21:00:00             49.0    2023-04     6    21
2032353        265 2023-04-30 22:00:00             68.0    2023-04     6    22
2032354        265 2023-04-30 23:00:00             95.0    2023-04     6    23
2032355        265 2023-05-01 00:00:00             28.0    2023-05     0     0

[2032356 rows x 6 columns]

In [18]:
df_grouped.reset_index(drop=True).to_parquet("basic_taxi_df.parquet", index=False)

In [19]:
df = pd.read_parquet("basic_taxi_df.parquet")
df

         taxi_zone            datetime  passenger_count year_month  week  hour
0                1 2002-10-25 09:00:00              4.0    2002-10     4     9
1                1 2002-10-27 09:00:00              3.0    2002-10     6     9
2                1 2002-10-28 04:00:00              1.0    2002-10     0     4
3                1 2002-10-28 05:00:00              2.0    2002-10     0     5
4                1 2009-01-02 00:00:00              2.0    2009-01     4     0
...            ...                 ...              ...        ...   ...   ...
2032351        265 2023-04-30 20:00:00             53.0    2023-04     6    20
2032352        265 2023-04-30 21:00:00             49.0    2023-04     6    21
2032353        265 2023-04-30 22:00:00             68.0    2023-04     6    22
2032354        265 2023-04-30 23:00:00             95.0    2023-04     6    23
2032355        265 2023-05-01 00:00:00             28.0    2023-05     0     0

[2032356 rows x 6 columns]

In [21]:
df_grouped.to_json("basic_taxi_df.json", orient="index", default_handler=str)

In [26]:
import json
f = open('basic_taxi_df.json')
data = json.load(f)

In [27]:
print(type(data))

<class 'dict'>

In [28]:
data

{'0': {'taxi_zone': 1,
  'datetime': 1035536400000,
  'passenger_count': 4.0,
  'year_month': '2002-10',
  'week': 4,
  'hour': 9},
 '1': {'taxi_zone': 1,
  'datetime': 1035709200000,
  'passenger_count': 3.0,
  'year_month': '2002-10',
  'week': 6,
  'hour': 9},
 '2': {'taxi_zone': 1,
  'datetime': 1035777600000,
  'passenger_count': 1.0,
  'year_month': '2002-10',
  'week': 0,
  'hour': 4},
 '3': {'taxi_zone': 1,
  'datetime': 1035781200000,
  'passenger_count': 2.0,
  'year_month': '2002-10',
  'week': 0,
  'hour': 5},
 '4': {'taxi_zone': 1,
  'datetime': 1230854400000,
  'passenger_count': 2.0,
  'year_month': '2009-01',
  'week': 4,
  'hour': 0},
 '5': {'taxi_zone': 1,
  'datetime': 1641002400000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 2},
 '6': {'taxi_zone': 1,
  'datetime': 1641006000000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 3},
 '7': {'taxi_zone': 1,
  'datetime': 1641009600000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 4},
 '8': {'taxi_zone': 1,
  'datetime': 1641013200000,
  'passenger_count': 31.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 5},
 '9': {'taxi_zone': 1,
  'datetime': 1641016800000,
  'passenger_count': 13.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 6},
 '10': {'taxi_zone': 1,
  'datetime': 1641020400000,
  'passenger_count': 31.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 7},
 '11': {'taxi_zone': 1,
  'datetime': 1641024000000,
  'passenger_count': 11.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 8},
 '12': {'taxi_zone': 1,
  'datetime': 1641027600000,
  'passenger_count': 14.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 9},
 '13': {'taxi_zone': 1,
  'datetime': 1641031200000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 10},
 '14': {'taxi_zone': 1,
  'datetime': 1641034800000,
  'passenger_count': 31.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 11},
 '15': {'taxi_zone': 1,
  'datetime': 1641038400000,
  'passenger_count': 31.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 12},
 '16': {'taxi_zone': 1,
  'datetime': 1641042000000,
  'passenger_count': 38.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 13},
 '17': {'taxi_zone': 1,
  'datetime': 1641045600000,
  'passenger_count': 86.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 14},
 '18': {'taxi_zone': 1,
  'datetime': 1641049200000,
  'passenger_count': 123.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 15},
 '19': {'taxi_zone': 1,
  'datetime': 1641052800000,
  'passenger_count': 63.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 16},
 '20': {'taxi_zone': 1,
  'datetime': 1641056400000,
  'passenger_count': 56.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 17},
 '21': {'taxi_zone': 1,
  'datetime': 1641060000000,
  'passenger_count': 32.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 18},
 '22': {'taxi_zone': 1,
  'datetime': 1641063600000,
  'passenger_count': 27.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 19},
 '23': {'taxi_zone': 1,
  'datetime': 1641067200000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 5,
  'hour': 20},
 '24': {'taxi_zone': 1,
  'datetime': 1641085200000,
  'passenger_count': 7.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 1},
 '25': {'taxi_zone': 1,
  'datetime': 1641092400000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 3},
 '26': {'taxi_zone': 1,
  'datetime': 1641096000000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 4},
 '27': {'taxi_zone': 1,
  'datetime': 1641099600000,
  'passenger_count': 39.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 5},
 '28': {'taxi_zone': 1,
  'datetime': 1641103200000,
  'passenger_count': 20.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 6},
 '29': {'taxi_zone': 1,
  'datetime': 1641106800000,
  'passenger_count': 22.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 7},
 '30': {'taxi_zone': 1,
  'datetime': 1641110400000,
  'passenger_count': 22.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 8},
 '31': {'taxi_zone': 1,
  'datetime': 1641114000000,
  'passenger_count': 27.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 9},
 '32': {'taxi_zone': 1,
  'datetime': 1641117600000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 10},
 '33': {'taxi_zone': 1,
  'datetime': 1641121200000,
  'passenger_count': 37.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 11},
 '34': {'taxi_zone': 1,
  'datetime': 1641124800000,
  'passenger_count': 37.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 12},
 '35': {'taxi_zone': 1,
  'datetime': 1641128400000,
  'passenger_count': 50.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 13},
 '36': {'taxi_zone': 1,
  'datetime': 1641132000000,
  'passenger_count': 73.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 14},
 '37': {'taxi_zone': 1,
  'datetime': 1641135600000,
  'passenger_count': 71.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 15},
 '38': {'taxi_zone': 1,
  'datetime': 1641139200000,
  'passenger_count': 71.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 16},
 '39': {'taxi_zone': 1,
  'datetime': 1641142800000,
  'passenger_count': 81.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 17},
 '40': {'taxi_zone': 1,
  'datetime': 1641146400000,
  'passenger_count': 49.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 18},
 '41': {'taxi_zone': 1,
  'datetime': 1641150000000,
  'passenger_count': 24.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 19},
 '42': {'taxi_zone': 1,
  'datetime': 1641153600000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 20},
 '43': {'taxi_zone': 1,
  'datetime': 1641157200000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 6,
  'hour': 21},
 '44': {'taxi_zone': 1,
  'datetime': 1641168000000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 0},
 '45': {'taxi_zone': 1,
  'datetime': 1641178800000,
  'passenger_count': 9.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 3},
 '46': {'taxi_zone': 1,
  'datetime': 1641182400000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 4},
 '47': {'taxi_zone': 1,
  'datetime': 1641186000000,
  'passenger_count': 14.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 5},
 '48': {'taxi_zone': 1,
  'datetime': 1641189600000,
  'passenger_count': 23.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 6},
 '49': {'taxi_zone': 1,
  'datetime': 1641193200000,
  'passenger_count': 17.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 7},
 '50': {'taxi_zone': 1,
  'datetime': 1641196800000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 8},
 '51': {'taxi_zone': 1,
  'datetime': 1641200400000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 9},
 '52': {'taxi_zone': 1,
  'datetime': 1641204000000,
  'passenger_count': 20.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 10},
 '53': {'taxi_zone': 1,
  'datetime': 1641207600000,
  'passenger_count': 17.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 11},
 '54': {'taxi_zone': 1,
  'datetime': 1641211200000,
  'passenger_count': 35.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 12},
 '55': {'taxi_zone': 1,
  'datetime': 1641214800000,
  'passenger_count': 40.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 13},
 '56': {'taxi_zone': 1,
  'datetime': 1641218400000,
  'passenger_count': 81.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 14},
 '57': {'taxi_zone': 1,
  'datetime': 1641222000000,
  'passenger_count': 62.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 15},
 '58': {'taxi_zone': 1,
  'datetime': 1641225600000,
  'passenger_count': 46.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 16},
 '59': {'taxi_zone': 1,
  'datetime': 1641229200000,
  'passenger_count': 31.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 17},
 '60': {'taxi_zone': 1,
  'datetime': 1641232800000,
  'passenger_count': 32.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 18},
 '61': {'taxi_zone': 1,
  'datetime': 1641236400000,
  'passenger_count': 7.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 19},
 '62': {'taxi_zone': 1,
  'datetime': 1641240000000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 20},
 '63': {'taxi_zone': 1,
  'datetime': 1641243600000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 21},
 '64': {'taxi_zone': 1,
  'datetime': 1641247200000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 22},
 '65': {'taxi_zone': 1,
  'datetime': 1641250800000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 0,
  'hour': 23},
 '66': {'taxi_zone': 1,
  'datetime': 1641254400000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 0},
 '67': {'taxi_zone': 1,
  'datetime': 1641265200000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 3},
 '68': {'taxi_zone': 1,
  'datetime': 1641268800000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 4},
 '69': {'taxi_zone': 1,
  'datetime': 1641272400000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 5},
 '70': {'taxi_zone': 1,
  'datetime': 1641276000000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 6},
 '71': {'taxi_zone': 1,
  'datetime': 1641279600000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 7},
 '72': {'taxi_zone': 1,
  'datetime': 1641283200000,
  'passenger_count': 11.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 8},
 '73': {'taxi_zone': 1,
  'datetime': 1641286800000,
  'passenger_count': 20.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 9},
 '74': {'taxi_zone': 1,
  'datetime': 1641290400000,
  'passenger_count': 27.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 10},
 '75': {'taxi_zone': 1,
  'datetime': 1641294000000,
  'passenger_count': 6.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 11},
 '76': {'taxi_zone': 1,
  'datetime': 1641297600000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 12},
 '77': {'taxi_zone': 1,
  'datetime': 1641301200000,
  'passenger_count': 39.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 13},
 '78': {'taxi_zone': 1,
  'datetime': 1641304800000,
  'passenger_count': 45.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 14},
 '79': {'taxi_zone': 1,
  'datetime': 1641308400000,
  'passenger_count': 44.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 15},
 '80': {'taxi_zone': 1,
  'datetime': 1641312000000,
  'passenger_count': 32.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 16},
 '81': {'taxi_zone': 1,
  'datetime': 1641315600000,
  'passenger_count': 16.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 17},
 '82': {'taxi_zone': 1,
  'datetime': 1641319200000,
  'passenger_count': 14.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 18},
 '83': {'taxi_zone': 1,
  'datetime': 1641322800000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 19},
 '84': {'taxi_zone': 1,
  'datetime': 1641326400000,
  'passenger_count': 6.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 20},
 '85': {'taxi_zone': 1,
  'datetime': 1641333600000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 22},
 '86': {'taxi_zone': 1,
  'datetime': 1641337200000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 1,
  'hour': 23},
 '87': {'taxi_zone': 1,
  'datetime': 1641340800000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 0},
 '88': {'taxi_zone': 1,
  'datetime': 1641355200000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 4},
 '89': {'taxi_zone': 1,
  'datetime': 1641358800000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 5},
 '90': {'taxi_zone': 1,
  'datetime': 1641362400000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 6},
 '91': {'taxi_zone': 1,
  'datetime': 1641366000000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 7},
 '92': {'taxi_zone': 1,
  'datetime': 1641369600000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 8},
 '93': {'taxi_zone': 1,
  'datetime': 1641373200000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 9},
 '94': {'taxi_zone': 1,
  'datetime': 1641376800000,
  'passenger_count': 15.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 10},
 '95': {'taxi_zone': 1,
  'datetime': 1641380400000,
  'passenger_count': 15.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 11},
 '96': {'taxi_zone': 1,
  'datetime': 1641384000000,
  'passenger_count': 23.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 12},
 '97': {'taxi_zone': 1,
  'datetime': 1641387600000,
  'passenger_count': 14.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 13},
 '98': {'taxi_zone': 1,
  'datetime': 1641391200000,
  'passenger_count': 34.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 14},
 '99': {'taxi_zone': 1,
  'datetime': 1641394800000,
  'passenger_count': 26.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 15},
 '100': {'taxi_zone': 1,
  'datetime': 1641398400000,
  'passenger_count': 45.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 16},
 '101': {'taxi_zone': 1,
  'datetime': 1641402000000,
  'passenger_count': 23.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 17},
 '102': {'taxi_zone': 1,
  'datetime': 1641405600000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 18},
 '103': {'taxi_zone': 1,
  'datetime': 1641409200000,
  'passenger_count': 6.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 19},
 '104': {'taxi_zone': 1,
  'datetime': 1641412800000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 20},
 '105': {'taxi_zone': 1,
  'datetime': 1641416400000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 21},
 '106': {'taxi_zone': 1,
  'datetime': 1641423600000,
  'passenger_count': 10.0,
  'year_month': '2022-01',
  'week': 2,
  'hour': 23},
 '107': {'taxi_zone': 1,
  'datetime': 1641427200000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 0},
 '108': {'taxi_zone': 1,
  'datetime': 1641438000000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 3},
 '109': {'taxi_zone': 1,
  'datetime': 1641441600000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 4},
 '110': {'taxi_zone': 1,
  'datetime': 1641445200000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 5},
 '111': {'taxi_zone': 1,
  'datetime': 1641448800000,
  'passenger_count': 4.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 6},
 '112': {'taxi_zone': 1,
  'datetime': 1641452400000,
  'passenger_count': 12.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 7},
 '113': {'taxi_zone': 1,
  'datetime': 1641456000000,
  'passenger_count': 9.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 8},
 '114': {'taxi_zone': 1,
  'datetime': 1641459600000,
  'passenger_count': 14.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 9},
 '115': {'taxi_zone': 1,
  'datetime': 1641463200000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 10},
 '116': {'taxi_zone': 1,
  'datetime': 1641466800000,
  'passenger_count': 7.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 11},
 '117': {'taxi_zone': 1,
  'datetime': 1641470400000,
  'passenger_count': 10.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 12},
 '118': {'taxi_zone': 1,
  'datetime': 1641474000000,
  'passenger_count': 12.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 13},
 '119': {'taxi_zone': 1,
  'datetime': 1641477600000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 14},
 '120': {'taxi_zone': 1,
  'datetime': 1641481200000,
  'passenger_count': 18.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 15},
 '121': {'taxi_zone': 1,
  'datetime': 1641484800000,
  'passenger_count': 43.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 16},
 '122': {'taxi_zone': 1,
  'datetime': 1641488400000,
  'passenger_count': 19.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 17},
 '123': {'taxi_zone': 1,
  'datetime': 1641492000000,
  'passenger_count': 27.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 18},
 '124': {'taxi_zone': 1,
  'datetime': 1641495600000,
  'passenger_count': 8.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 19},
 '125': {'taxi_zone': 1,
  'datetime': 1641499200000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 20},
 '126': {'taxi_zone': 1,
  'datetime': 1641502800000,
  'passenger_count': 2.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 21},
 '127': {'taxi_zone': 1,
  'datetime': 1641506400000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 3,
  'hour': 22},
 '128': {'taxi_zone': 1,
  'datetime': 1641513600000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 0},
 '129': {'taxi_zone': 1,
  'datetime': 1641524400000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 3},
 '130': {'taxi_zone': 1,
  'datetime': 1641528000000,
  'passenger_count': 3.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 4},
 '131': {'taxi_zone': 1,
  'datetime': 1641531600000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 5},
 '132': {'taxi_zone': 1,
  'datetime': 1641535200000,
  'passenger_count': 12.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 6},
 '133': {'taxi_zone': 1,
  'datetime': 1641538800000,
  'passenger_count': 15.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 7},
 '134': {'taxi_zone': 1,
  'datetime': 1641542400000,
  'passenger_count': 11.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 8},
 '135': {'taxi_zone': 1,
  'datetime': 1641546000000,
  'passenger_count': 6.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 9},
 '136': {'taxi_zone': 1,
  'datetime': 1641549600000,
  'passenger_count': 9.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 10},
 '137': {'taxi_zone': 1,
  'datetime': 1641553200000,
  'passenger_count': 21.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 11},
 '138': {'taxi_zone': 1,
  'datetime': 1641556800000,
  'passenger_count': 13.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 12},
 '139': {'taxi_zone': 1,
  'datetime': 1641560400000,
  'passenger_count': 7.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 13},
 '140': {'taxi_zone': 1,
  'datetime': 1641564000000,
  'passenger_count': 59.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 14},
 '141': {'taxi_zone': 1,
  'datetime': 1641567600000,
  'passenger_count': 22.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 15},
 '142': {'taxi_zone': 1,
  'datetime': 1641571200000,
  'passenger_count': 44.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 16},
 '143': {'taxi_zone': 1,
  'datetime': 1641574800000,
  'passenger_count': 22.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 17},
 '144': {'taxi_zone': 1,
  'datetime': 1641578400000,
  'passenger_count': 7.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 18},
 '145': {'taxi_zone': 1,
  'datetime': 1641582000000,
  'passenger_count': 5.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 19},
 '146': {'taxi_zone': 1,
  'datetime': 1641585600000,
  'passenger_count': 1.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 20},
 '147': {'taxi_zone': 1,
  'datetime': 1641589200000,
  'passenger_count': 6.0,
  'year_month': '2022-01',
  'week': 4,
  'hour': 21},
 '148': {'taxi_zone': 1,
  'datetime': 1641596400000,
  'passenger_count': 2.0,